web {
  enable true
  port 8080
  nopass true
}
server {
  enable true
  port 7686
  relay true
}
mqtt {
  devicetype central_heating
  deviceid {}
  retransmit 10
  format json2
  port 1883
  qos 1
  keepalive 120
  enable true
  messages false
  client otmonitor
  broker localhost
  username {}
  password {}
}
connection {
  device {}
  type tcp
  port 6638
  host localhost
  enable true
}
datalog {
  append true
  file /root/otdata.txt
  enable true
  itemlist {
    flame
    dhwmode
    chmode
    dhwenable
    diag
    fault
    setpoint
    modulation
    boilertemp
    returntemp
    controlsp
    dhwsetpoint
    chwsetpoint
    timestamp
  }
  interval 30000
}
logfile {
  pattern otlog-%Y%m%d.txt
  directory /root
  enable true
}
